

body{
	background: #0d2b72da;
	font: 16px "Arial", helvetica, Sans-serif;
}

#principal{
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: center;
	display: table;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

#menu{
	background: #0d2b72da;
	padding: 18px
}

#conteudo{
	background: #1b46acda;
	padding: 10px;
}

#rodape{
		text-align: center;
}


a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1{
	color:#828271;
	font-size: 1.2em;
}

h2{
	color:#828271;
	font-size: 1.2em;	
}

.img-campanha{
	border: 10px solid #c3c3ae;
}

.italico{
	font-style: italic;
}

.negrito{
	font-weight: bold;
}

.field {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.5em;
	padding: 5px;
  }
